$body-bg-color:#FFF;
$background-image:url(../img/m-h-day.jpg);
$logo-text: 'Hind', sans-serif;
$header-heading-mark: #14A0C7;
$logo_header-heading-color: #2C2F3C;
$header_text_color:#33304D;
$button-join-color: #699900;
$color-wite: #FFF;
$header-text-font-family: 'Source Sans Pro', sans-serif;
$font-family-Source-sanse-pro:'Source Sans Pro', sans-serif;
$section-card-bg:#21232E;
$section-text:#2C2F3C;
$section_card_text-font-family: 'Source Sans Pro', sans-serif;
$section_banner_heading:#2D323C;
$background-section_banner: linear-gradient(45deg, #65950E, #315FCA);
$section_banner_text_font_family: 'Source Sans Pro', sans-serif;
$footer-bg:#21232E;
$footer-wrap_text_font_family: 'Source Sans Pro', sans-serif;
$footer_text_size: 250px;
