$body-bg-color:#21232E;
$background-image:url(../img/m-h-night.jpg);
$logo-text: 'Fresca', sans-serif;
$header-heading-mark: #FF4E33;
$logo_header-heading-color: #FFF;
$header_text_color:#FFF;
$button-join-color: #E3AC00;
$color-wite: #FFF;
$header-text-font-family: 'Fresca', sans-serif;
$font-family-Source-sanse-pro:'Source Sans Pro', sans-serif;
$section-card-bg:#3B3F50;
$section-text:#FFF;
$section_card_text-font-family: 'Fresca', sans-serif;
$section_banner_heading:#FFF;
$background-section_banner: linear-gradient(45deg, #E2AB01, #932D51);
$section_banner_text_font_family: 'Fresca', sans-serif;
$footer-bg:#3B3F50;
$footer-wrap_text_font_family: 'Fresca', sans-serif;
$footer_text_size: 270px;
